/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.header {
  padding: 40px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(158, 196, 252, 0.5),
    rgba(255, 255, 255, 0.5)
  );

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .title-cn {
    font-size: 34px;
    font-weight: 600;
  }
}

.maindiv {
  padding: 40px !important;
}
